
#Top1{
    border: solid 3px blueviolet;
    border-bottom: groove 3px blueviolet;
    border-left: hidden;

    height: 80px;
    margin:0;
    margin-right: 20%;
    border-top-right-radius: 10px;
    padding:0;
    position: static;
    top:0px;
    left:0px;
    right:0px;
    text-align: right;
}
.fa-bars{
    font-size: 20px;
    padding-right: 10px;
}
.fa-circle-xmark{
    text-align: center;
    font-size: 45px;
    padding-right: 20px;
    padding-top: 15px;
}
.fa-circle-xmark:hover{
    color: red;
}
.fa-circle-xmark:active{
    color: red;
}
#Menu1{
    border: solid 3px blueviolet;
    
    border-left: hidden;
    border-top: hidden;
    height: 1000px;
    margin-top: 0px;
    margin-right: 20%;
    border-bottom-right-radius: 10px;
    padding:0;
    position: static;
    top: 46px;
    left:0px;
    right:0px;
    
    
}

