body{
    background-color: black;
}
#Top1{
    border: solid 3px blueviolet;
    border-bottom: groove 3px blueviolet;
    border-left: hidden;

    height: 80px;
    margin:0;
    margin-right: 20%;
    border-top-right-radius: 50px;
    padding:0;
    position: static;
    top:0px;
    left:0px;
    right:0px;
    text-align: right;
}
.fa-bars{
    font-size: 20px;
    padding-right: 10px;
}
.fa-circle-xmark{
    text-align: center;
    font-size: 45px;
    padding-right: 20px;
    padding-top: 15px;
    color: white;
}
.fa-circle-xmark:hover{
    color: red;
}
.fa-circle-xmark:active{
    color: red;
}
#Menu1{
    border: solid 3px blueviolet;
    
    border-left: hidden;
    border-top: hidden;
    height: 1000px;
    margin-top: 0px;
    margin-right: 20%;
    border-bottom-right-radius: 50px;
    padding:0;
    position: static;
    top: 46px;
    left:0px;
    right:0px;
    
    
}
.DniTyg1{
    font-family: "kanit","consolas","sans-serif" ;
    border: hidden;
    border-left: 2px solid white;
    background-color: black;
    color: white;
    
}
.DniTyg1:focus{
    border-left: 2px solid blueviolet;
    transform: translateX(20px);
}
#dni{
    font-family: "kanit","consolas","sans-serif" ;
    border: 2px solid white;
    color: white;
    height: 50px;
    width: 250px;
    padding: 4px;
    position: absolute;
    top: 90px;
    left: 20%;
    text-align: center;
    padding-top: 20px;
}
#Pon{
    position: absolute;
    top: 220px;
    left: 20%;
    font-size: 30px;
}
#Wtr{
    position: absolute;
    top: 300px;
    left: 20%;
    font-size: 30px;
}
#Śrd{
    position: absolute;
    top: 380px;
    left: 20%;
    font-size: 30px;
}
#Czw{
    position: absolute;
    top: 460px;
    left: 20%;
    font-size: 30px;
}
#Pią{
    position: absolute;
    top: 540px;
    left: 20%;
    font-size: 30px;
}
#rozsz{
    font-family: "kanit","consolas","sans-serif" ;
    border: 4px;
    border-style: outset ;
    color: white;
    height: 50px;
    width: 250px;
    padding: 4px;
    position: absolute;
    top: 600px;
    left: 20%;
    text-align: center;
    padding-top: 20px;
    background-color: black;
    font-size: 30px;
    padding-bottom: 55px;
}
#rozsz:active{
    color: blueviolet;
    border-color: blueviolet;
}