Body{
    background-color: black;
}
#BoxMain{
    border: 2px solid blueviolet;
    max-width: 360px;
    height: 640px;
    position: relative;
    margin: 0 auto;

    /* text-align: center; */
   

}
.rozszerzenia{
    color: white;
    border: 1px solid white;
    width: 180px;
    height: 80px;
}
.containerR{
    color: white;
    border: 1px solid white;
    padding: 2px;
    font-size: 20px; 
    left: 200px;
}
.containerL{
    color: white;
    border: 1px solid white;
    padding: 2px;
    font-size: 20px; 
    left: 50px;
}
.fa-bars{
    color: white;
}
    
/* PRAWA */
#Matematyka{
    position: absolute;
    top: 290px;

}
#JPolski{
    top: 340px;
    position: absolute;    

}
#JAngielski{
    top: 390px;
    position: absolute;
}
#Fizyka{
    top: 440px;
    position: absolute;
}  
#Historia{
    top: 490px;
    position: absolute;
}
#Historia-sztuki{
    top: 540px;
    position: absolute;    

}
/* LEWA */
#Biologia{
    top: 290px;
    position: absolute;    

}
#Chemia{
    top: 340px;
    position: absolute;
}
#Geogriafia{
    top: 390px;
    position: absolute;
    
}
#WOS{
    top: 440px;
    position: absolute;

}
#Jhiszpanski{
    top: 490px;
    position: absolute;
}
#Informatyka{
    top: 540px;
    position: absolute;

}
